@inherits LayoutComponentBase

@inject BaseLayerLuminance BaseLayerLuminance
@inject GlobalState GlobalState

<PageTitle>CompanionApp</PageTitle>

<div id="container" @ref="container">
    <header>
        <h2>Companion App</h2>
        <FluentSwitch @bind-Value="@darkMode" AfterBindValue="UpdateTheme" title="Switch theme">
            <span slot="unchecked-message">light</span>
            <span slot="checked-message">dark</span>
        </FluentSwitch>
    </header>
    <main>
        <article id="article">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <p class="error">@ex.Message</p>
                </ErrorContent>
            </ErrorBoundary>
        </article>
        <FluentDialogProvider/>
    </main>
</div>